{% extends 'shop/basic/base.html'%}

{% block title %}Web Store - о компании{% endblock %}

{% block selected_about %}
selected
{% endblock %}

{% block content %}
    <section class="about-section">
        <div class="about-section__block">
            <p class="about-section__title">Интернет магазин Web Store</p>
            <p class="about-section__text">Мы - ваш путеводитель в мире передовых технологий и инноваций.</p>

                                            <p class="about-section__description">Кто мы?</p>

                                            <p class="about-section__text">Мы — команда энтузиастов и экспертов, которые разделяют страсть к современной электронике и технике. Наша история началась с целью предоставить нашим клиентам доступ к лучшим устройствам, которые делают жизнь более комфортной, продуктивной и увлекательной.</p>

                                            <p class="about-section__description">Что мы предлагаем?</p>

                                            <p class="about-section__text">В нашем магазине вы найдете широкий ассортимент продукции от ведущих мировых брендов. Мы специализируемся на продаже смартфонов, ноутбуков, планшетов, гаджетов и аксессуаров, которые помогут вам быть на шаг впереди в цифровом мире.</p>

                                            <p class="about-section__description">Наши ценности:</p>

                                            <p class="about-section__text">- Качество и надежность. Мы тщательно отбираем продукцию, чтобы обеспечить вам только самое лучшее.</p>

                                            <p class="about-section__text">- Профессионализм. Наши специалисты всегда готовы помочь вам с выбором и консультацией.</p>

                                            <p class="about-section__text">- Инновации. Мы следим за последними трендами и обновлениями в мире техники, чтобы предложить вам самые передовые решения.</p>

                                            <p class="about-section__description">Почему выбирают нас?</p>

                                            <p class="about-section__text">Наш интернет-магазин отличается удобством покупки, быстрой доставкой и отличным обслуживанием клиентов. Мы стремимся сделать ваше онлайн-покупательное путешествие максимально приятным и беззаботным.</p>

                                            <p class="about-section__text">Мы благодарим вас за то, что выбираете нас. С нами вы можете быть уверены, что ваш опыт покупки будет приятным и удовлетворительным. Мы гордимся тем, что помогаем вам воплощать в жизнь ваши цифровые амбиции.</p>

                                            <p class="about-section__text">Спасибо, что делаете нас частью вашего пути к технологическому совершенству!</p>
            <p class="about-section__description">Сайт является прототипом интернет магазина. Разработан на Django с использованием Django Rest Framework, PostgreSQL, Bootstrap, HTML, CSS. Шаблон сделан при помощи Figma.</p>
        </div>
        <a href="https://t.me/api_web_store_bot" class="about-section__link-bot">
            <div class="about-section__button-block">Задать вопрос</div>
        </a>
    </section>
{% endblock %}

