{% extends 'shop/basic/base.html'%}
{% load static %}

{% block title %}Web Store - смена пароля{% endblock %}

{% block selected_about %}

{% endblock %}

{% block content %}
    <section class="login-section">
        <p class="login-section__title">Смена пароля</p>
        <form method="post" autocomplete="off">
            {% csrf_token %}
            <div class="login-section__username-block">
                <label for="{{form.username.id_for_label}}">{{form.email.label}}</label>
                {{ form.email }}
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <div class="register-section__password-requirements errors-block">
                            <img src="{% static 'shop/icons/password-error.png' %}" class="error-password-image mr-6">
                            <span class="error-register-message">{{ error }}</span>
                       </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="login-section__buttons">
                <button type="submit">Подтвердить</button>
            </div>
        </form>
    </section>
{% endblock %}

