{% extends 'shop/basic/base.html'%}
{% load static %}

{% block title %}Web Store - новый пароль{% endblock %}

{% block selected_about %}

{% endblock %}

{% block content %}
    <section class="login-section login-section-new-height">
        <p class="login-section__title">Смена пароля</p>
        <form method="post" autocomplete="off">
            {% csrf_token %}
            <div class="login-section__username-block">
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                       <div class="register-section__password-requirements errors-block">
                            <img src="{% static 'shop/icons/password-error.png' %}" class="error-password-image mr-6">
                            <span class="error-register-message">{{ error }}</span>
                       </div>
                    {% endfor %}
                {% endif %}

                {% for field in form %}
                    <div class="login-section__username-block register-section__input-block">
                        <label for="{{field.id_for_label}}">{{field.label}}</label>
                        {{field}}
                        {% if request.method == 'GET' %}
                            {% for desc in field.help_text %}
                                <div class="register-section__password-requirements">
                                    <img src="{% static 'shop/icons/password-requirement.svg' %}">
                                    <span>{{ desc }}</span>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <div class="register-section__password-requirements">
                                    <img src="{% static 'shop/icons/password-error.png' %}" class="error-password-image">
                                    <span class="error-register-message">{{ error }}</span>
                                </div>
                            {% endfor %}
                        {% endif %}
                     </div>
                {% endfor %}


            <div class="login-section__buttons">
                <button type="submit">Подтвердить</button>
            </div>
        </form>
    </section>
{% endblock %}
